#about-me {
  background-color: #262626;
  padding: 130px 2vw;
  min-height: 90vh;
}

#about-me h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

#about-me h3 {
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  font-size: 25px;
}

.skill ul {
  list-style-type: none;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 400;
}
