#projects {
  min-height: 100vh;
  padding: 70px 2vh;
}

#projects h2 {
  font-family: 'Crete Round', serif;
  font-size: 40px;
  line-height: 52px;
}

.project-listing {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.project-image {
  width: 90%;
  display: block;
  margin: 0 auto;
}

.expose-project {
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 84.18%);
  display: flex;
  flex-direction: column;
  padding: 12px;
  justify-content: flex-start;
  border: black solid 2px;
  width: 80vw;
  max-height: 750px;
  margin-bottom: 40px;
}

.languages {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.language {
  padding: 10px 12px;
  background: rgba(255, 255, 255, 0.24);
  font-size: 15px;
  margin-right: 15px;
  font-family: 'Inter', sans-serif;
  margin-top: 15px;
}

.links a {
  margin-top: 15px;
}

@media only screen and (min-width: 576px) {
  #projects {
    min-height: 100vh;
    padding: 70px 5vh;
  }

  #projects h2 {
    font-family: 'Crete Round', serif;
    font-size: 40px;
    line-height: 52px;
  }

  .project-listing {
    margin-top: 100px;
  }

  .project-image {
    max-width: 400px;
    max-height: 300px;
    display: block;
    margin: 0 auto;
  }

  .expose-project {
    background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 84.18%);
    display: flex;
    flex-direction: column;
    padding: 12px;
    justify-content: flex-start;
    border: black solid 2px;
    max-width: 430px;
    max-height: 650px;
  }

  .languages {
    display: flex;
    justify-content: flex-start;
  }

  .language {
    padding: 10px 12px;
    background: rgba(255, 255, 255, 0.24);
    font-size: 15px;
    margin-right: 12px;
    font-family: 'Inter', sans-serif;
  }
}
