:root {
  --color1: #36b37f;
}

.text-theme-color {
  color: var(--color1);
}

.font-inter {
  font-family: 'Inter', sans-serif;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.font-crete-round {
  font-family: 'Crete Round', serif;
}

.switch-to-theme-color:hover {
  fill: var(--color1);
}

.navbar {
  padding: 0.5rem 100px;
  background-color: #3e3c3c;
}

h1,
h2,
h3 {
  font-family: 'Crete Round', serif;
}

p {
  font-family: 'Inter', sans-serif;
}

header {
  background-color: #1c1a19;
  position: relative;
  top: 56px;
  padding: 100px;
  height: 100vh;
}

#contacts {
  left: 0;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

footer div a {
  color: #212529;
  text-decoration: none;
}

footer div a:hover {
  color: green;
  text-decoration: none;
}

#contacts a {
  color: white;
  padding: 0 30px;
}

#contacts a:hover {
  color: var(--color1);
  text-decoration: none;
}

#introduction {
  max-width: 630px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
}

#introduction h1 {
  margin-bottom: 24px;
  font-size: 4rem;
}

.general-presentation {
  font-size: 32px;
}

.secondary-presentation {
  font-size: 20px;
}

#projects {
  min-height: 100vh;
  padding: 150px 170px;
}

#projects h2 {
  font-family: 'Crete Round', serif;
  font-size: 40px;
  line-height: 52px;
}

.project-listing {
  margin-top: 114px;
}

#project1 {
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 84.18%), url('../img/project1.png');
}

#project2 {
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 84.18%), url('../img/project1.png');
}

#project3 {
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 84.18%), url('../img/project1.png');
}

.expose-project {
  display: flex;
  flex-direction: column;
  padding: 12px;
  justify-content: flex-end;
  border: black solid 2px;
  width: 369px;
  height: 435px;
}

.languages {
  display: flex;
  justify-content: flex-start;
}

.language {
  padding: 10px 12px;
  background: rgba(255, 255, 255, 0.24);
  font-size: 15px;
  margin-right: 12px;
  font-family: 'Inter', sans-serif;
}

#about-me {
  background-color: #262626;
  padding: 130px 170px;
  min-height: 90vh;
}

#about-me h2 {
  font-size: 72px;
  margin-bottom: 30px;
}

#about-me h3 {
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
}

.skill ul {
  list-style-type: none;
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  font-weight: 400;
}

footer {
  font-size: 20px;
}
